{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<h1>{{user.username}}</h1>
<p>Email: {{user.email}}</p>
<p>first_name: {{user.first_name}}</p>
<p>last_name: {{user.last_name}}</p>
{% if user.username == session['username'] %}
    <form action="/user/{{session['username']}}/delete" method="POST">
        <button>Delete My Account (No take-backsies!)</button>
    </form>
{% endif %}
<h2>Feedback</h2>
{% if user.username == session['username'] %}
    <a href="/user/{{user.username}}/feedback/add">Add Feedback</a>
{% endif %}
{% if user.feedback %}
    <hr>
    {% for post in user.feedback %}
    <div>
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
        {% if user.username == session['username'] %}
            <a href="/feedback/{{post.id}}/update">Edit</a>
            <form action="/feedback/{{post.id}}/delete" method="POST">
                <button>Delete</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}